# Environment variables
.env
.env.*
!.env.example

# Node / frontend
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store

# Build outputs
dist/
build/

# IDE / editor
.vscode/
.idea/
